[MASTER]

ignore=tests

[MESSAGE CONTROL]

disable=missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        unnecessary-pass,
        f-string-without-interpolation,
	broad-exception-caught

[FORMAT]
max-line-length=120

[REFACTORING]

[DESIGN]

max-args=18
max-positional-arguments=18
max-locals=18
max-branches=18
