{% extends "layout.html" %}

{% block title %}
Reference app
{% endblock %}

{% block body %}
<br/><div>
    <a href="{{ url_for('index') }}" class="btn btn-dark">Return</a>
</div><br/><br/>
<div class="col d-flex justify-content-center">
    <div class="shadow p-3 mb-5 bg-white rounded" style="width: 60rem;">
        <h2 class="text-center">Add article</h2><br/>

        <!-- Flash messages for validation errors or success -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div>
              {% for category, message in messages %}
                <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }}" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        
        <!-- Article Form -->

        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.title.label(class="form-label") }}
                {{ form.title(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.author.label(class="form-label") }}
                {{ form.author(class="form-control") }}
            </div>
            <div class="mb-3 ">
                {{ form.journal.label(class="form-label") }}
                {{ form.journal(class="form-control") }}
            </div>
            <div class="mb-3 ">
                {{ form.year.label(class="form-label") }}
                {{ form.year(class="form-control") }}
            </div>
            <div class="mb-3 ">
                {{ form.volume.label(class="form-label") }}
                {{ form.volume(class="form-control") }}
            </div>
            <div class="mb-3 ">
                {{ form.number.label(class="form-label") }}
                {{ form.number(class="form-control") }}
            </div>
            <div class="mb-3 ">
                {{ form.pages.label(class="form-label") }}
                {{ form.pages(class="form-control") }}
            </div>
            <div class="mb-3 ">
                {{ form.month.label(class="form-label") }}
                {{ form.month(class="form-control") }}
            </div>
            <div class="mb-3 ">
                {{ form.doi.label(class="form-label") }}
                {{ form.doi(class="form-control") }}
            </div><br/>
            <div class="text-center">
                {{ form.submit(class="btn btn-dark") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}