{% extends "layout.html" %}

{% block title %}
Reference app
{% endblock %}

{% block body %}
</br>
<h2>Reference app</h2></br>

<!-- Flash message for validation success -->

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div>
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<div>
  Articles
</div>

{% if message %}
    <p>{{ message }}</p>
{% else %}
    <ul>
    {% for article in articles %}
        <li>{{ article.title }} by {{ article.author }} ({{ article.year }})</li>
    {% endfor %}
    </ul>
{% endif %}

<h4>Add Reference:</h4></br>
<div>
  <a href="/add-article" class="btn btn-dark">Article</a>
</div> 

{% endblock %}