#heading {
    position: fixed;
    font-size: 35px;
    top: 95px;
    color: black;
    left: 285px;
}

#search-message {
    margin-top: 95px;
}

#message {
    position: relative;
    top: 5px;
    width: 95%;
}

#search-button {
    margin-left: 15px;
}

#saved-references {
    margin-bottom: 20px;
}

#doi-inp-button{
    margin-top: 10px;
    margin-bottom: 15px;
}

#art-book-misc-button{
    margin-top: 15px;
}

#menu {
    width: 400px;
    position: fixed;
    top: 17%;
}

#references {
    position: absolute;
    top: 17%;
}

#sort {
    margin-top: 20px;
    margin-bottom: 12px;
}

#bibtex {
    margin-top: 90px;
}
